
  <div class="top">

    <img class="logo" src="assets/imgs/logo.webp">
    <h2>LUX TRAVEL</h2>
    <img class = "beach" src="assets/imgs/mainPage.jpg">
  </div>
  <br>
  <h3>Tutaj nas znajdziecie!</h3>
<div class = "bottom">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118932.90604570704!2d-157.82880333708295!3d21.324711006867222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c006ddb3b710ea7%3A0xa8d0941b3aff59db!2sPunchbowl%20Crater!5e0!3m2!1spl!2spl!4v1670187134051!5m2!1spl!2spl" width="900" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="contact">
    <h3>Kontakt:</h3>
    <p>telefon: 123 123 123 </p>
    <p>mail: fajny.mail@agh.edu.pl</p>
  </div>
</div>
