.container{
  background-color: lightgray;
  width: 400px;
  font-size: 150%;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}
.form-group{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container input{
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.container label{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
}
.container button{
  font-size: 150%;
  color:white;
  background-color: rgb(4, 216, 4);
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  border: 2px solid white;
}
